body{
    font-family: 'Bebas Neue', cursive;
}

header {  
    background-color:#696969;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 85%;
    margin: 0 100px;
}

.logoimg:hover{
    transition: 600ms;
    transform: rotate(360deg);
}

nav {
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
    
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: rgb(210,105,30);
    text-decoration: underline;
}

nav a:active{
    color: rgb(128, 0, 0);
}
#check{
    display: none;
}

#check:checked ~ .input-filtro{
    transition: 1000ms;
    visibility: visible;
   
}
#icone{
    cursor: pointer;
}

.filtro{
    padding-top: 40px;
    text-align: center;
}

.input-filtro{
    margin-left: 5px;
	width: 200px;
    height: 35px;
    margin-top: 5vh;
    border-radius: 20px;
    visibility: hidden;
}

#invisivel{
	display: none;
}

 
.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    box-sizing: border-box;
    vertical-align: top;
    margin: 0 1.5% ;
    padding: 30px 20px;
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: rgb(210,105,30);
    box-shadow: 10px 10px 20px #000000;
}

.produtos li:hover h2{
    font-size: 35px;
}
.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background:url(imagens/bg.jpg);
    padding: 40px 0;
}

.copy-right {
    color: white;
    font-size:  13px;
    margin: 20px;
}

/*contato*/

form{
    margin: 40px 100px;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 10px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar { 
    width: 40%;
    padding: 15px 0;
    background-color: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover{
    background-color: rgb(210,105,30);
    transform: scale(1.2);
}

table{
    margin: 20px 100px;
}

thead {
    background-color:grey;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px solid black;
    padding: 8px 15px;
}

table:hover{
    transform: scale(1.2);
}

/*pagina inicial*/ 
.banner{
    width: 100%;

}

.mainsection{
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.main-title{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em ;
    clear: left;
    color: rgb(0,0,0);
    transition: 400ms;
}

.main-title:hover{
color: rgb(210,105,30)
}

.mainsection p{
    margin: 0 0 1em;
}

.mainsection strong{
    font-weight: bold;
}

.mainsection em{
    font-style: italic;
}

.imgabout{
    width: 150px;
    float: left; 
    margin: -30px 20px 20px 0;
}

.imgabout:hover{
    transform: scale(1.2);
}

.map {
    padding: 3em 0;
    background: linear-gradient(#FEFEFE,#696969);
}

.map-content{
width: 940px;
margin: 0 auto;
}

.map p{
    margin: 0 0 2em;
    text-align: center;
}

.differential{
    padding: 3em 0;
    background:#696969;
}

.diffetential-content{
    width: 640px;
    margin: 0 auto;
}

.main-itens{
    font-weight: bold;
    line-height: 1.5;
    
}
.itens{
    line-height: 1.5;
    color: rgb(0,0,0);
    transition: 400ms;
}

.itens:before{
    content: "✂";
}

.itens:hover{
    color: rgb(210,105,30);
}

.diffetential-list{
    width: 40%;
    display: inline-block;
    vertical-align: top;
} 

.diffetential-img{
    width: 50%;
    opacity: 1;
    transition: 400ms;
    border-radius: 15px;
    border: 3px solid grey;
}
.diffetential-img:hover{
   opacity: 0.6;
   box-shadow: 10px 10px 10px #000000;
}

.video{
    width: 560px;
    margin: 2em auto;
}


/*cellphone adaptation
@media screen and(max-width: 480px) {
    .caixa, .mainsection, .map-content, .video{
        width: auto;
    }

    h1{
        text-align: center;
    }

    nav{
        position: static;
    }
    .itens, .diffetential-img{
        width: 100%;
    }
}